    .textStyle {
        margin-bottom: '0px';
    }

    .submit {
        width: 300px;
        height: 70px;
        border-radius: 20px;
        font-size: 20pt;
        align-self:flex-end;
    }

    .taskBlock {
         display: flex;
        flex-direction: column;


        align-items: flex-start;
        width: 80%;



    }


     .back {
        display: flex;
        flex-direction: row;
        border-radius: 40px;
        background-color: #FAFAFA;
        width: 95%;
        min-height: 760px;

        box-sizing: border-box; 

        overflow: auto; 
        margin-top: 58px;
        padding: 20px;
    }