#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.mainPageContent{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorMessage{
   color: red;
}

button{
    transition: background-color, 0.5s;
        background-color: #D2E3CB;
        border-width: 0px;
        font-family: 'MainFont', sans-serif;
}


button:hover{
  transition: background-color, 0.5s;
        background-color: #94A989;
        border-width: 0px;
}


